.inside{
   margin-left: 550px;
    margin-top: 20px;
}

.inside img{
    height: 450px;
}

.aboutBook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutBook img {
    height: 500px;
}