body {

}

.container {
    background: radial-gradient(circle, #fad5fa, #f591f5);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: 1px solid #ccc;
    background-color: aliceblue;
    border-radius: 15px;
}

button:hover {
    background-color: plum;
}